:root {
    --core-color-primary: hsl(25, 97%, 53%);
    --core-color-white: hsl(0, 0%, 100%);
    --core-color-light-grey: hsl(217, 12%, 63%);
    --core-color-medium-grey: hsl(216, 12%, 54%);
    --core-color-dark-blue: hsl(213, 19%, 18%);
    --core-color-darker-blue: hsl(216, 12%, 8%);
 }

body {
    background-color: var(--core-color-darker-blue);
    color: var(--core-color-white);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-dialog {
    width: 400px;
    border-radius: 2.5em;
    border: none;
    background: linear-gradient(15deg, rgba(37, 45, 55, .5) 40%, rgba(37, 45, 55, 1) 100%);
    color: var(--core-color-white);
    padding: 3em;
    box-sizing: border-box;
}

.base-dialog__rating-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 3em;
}

.base-dialog__title {
    font-weight: 400;
    font-size: 2.8em;
    margin: 30px 0 20px;
 }

.base-dialog__text {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.6;
    color: var(--core-color-light-grey);
}
.base-dialog__rating-btn {
    all: unset;
    position: relative;
    width: 2.8em;
    height: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    border-radius: 2em;
    background-color: var(--core-color-dark-blue);
    color: var(--core-color-light-grey);
    cursor: pointer;
}

.base-dialog__rating-btn::before {
    opacity: 0;
    content: attr(data-content);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--core-color-white);
    transition: opacity .25s ease-in-out;
}

.base-dialog__rating-btn::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 2em;
    background-color: var(--core-color-primary);
    transition: opacity .25s ease-in-out;
}

.base-dialog__rating-btn:hover::before,
.base-dialog__rating-btn:hover::after {
    opacity: 1;
}

.base-dialog__button {
    all: unset;
    position: relative;
    display: block;
    width: 100%;
    font-size: 1.8em;
    box-sizing: border-box;
    background-color: var(--core-color-primary);
    padding: .75em 2em;
    border-radius: 2.5em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.base-dialog__button::before {
    opacity: 0;
    content: attr(data-content);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--core-color-primary);
    transition: opacity .25s ease-in-out;
}

.base-dialog__button::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 2.5em;
    background-color: var(--core-color-white);
    transition: opacity .25s ease-in-out;
}

.base-dialog__button:hover::before,
.base-dialog__button:hover::after {
    opacity: 1;
}
